body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-container {
  display: grid;
  grid-template-areas: 
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%
}




/* Intro */
.Intro {
  margin-top: 50px;
}
.introImg {
  width: 760px;
  height: 640px;
}
.introDescribtion {
  font-size: 1.6rem;
}
.introTitle {
  padding-top: 200px;
  font-size: 2.4rem;
}
.introButton {
  padding-left: 160px;
}
.introButtonContent {
  font-size: 1.2rem;
}




/* About */
.About {
  background-color: #e3e3e4;
  padding: 40px 0 40px 0;
}
.aboutTitle {
  text-align: center;
}
.aboutTitleContent {
  font-size: 4rem;
  font-weight: bolder;
}
.aboutSection1 {
  margin-top: 40px;
}
.aboutImgContainer {
  padding-left: 40px;
}
.aboutImg {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}




/* Categories */
.Cate {
  /* background-color: #c0c1c2; */
  padding: 100px 20px;
}
.CateImg {
  width: 400px;
}




/* Footer */
.Footer {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}




/* Card */
.card {
  border: 0.1rem white solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  
}

.item-card {
  width: 15%;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.1 rem;
}

.price {
  font-size: 2 rem;
}

.row {
  display: flex;
  flex-wrap : wrap;
  box-sizing: border-box;
}
.row.top {
  align-items: flex-start;
}

.row.center {
  justify-content: center;
}




/* Image */
img {
  border-radius: 0.5rem;
  width: inherit;
}

img.medium {
  width: 100%;
  height: 13rem;

}




/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem
}
.reviews {
  color: #404040;
}

.col-1 {
  flex: 1 1 25rem;
}